<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319898028602-0aa0qb40haf9e7ln39pfpc9mtrdg7833.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319898028602-0aa0qb40haf9e7ln39pfpc9mtrdg7833</string>
	<key>API_KEY</key>
	<string>AIzaSyBDyNX7r8ul2lUS1vDda91bQWCOFO-KWnA</string>
	<key>GCM_SENDER_ID</key>
	<string>319898028602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.FirebaseLoginApp</string>
	<key>PROJECT_ID</key>
	<string>authapp-e49e2</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-e49e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319898028602:ios:f6a490cab226e0edadc303</string>
</dict>
</plist>